<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-file"></i>
    <p>Iuran Anggota</p>
    <i class="right fas fa-angle-left"></i>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('IuranMasuk')">
        <i class="fa fa-circle nav-icon"></i>
        <p>Iuran Masuk</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('IuranBelumDibayar')">
        <i class="fa fa-circle nav-icon"></i>
        <p>Iuran Belum Dibayar</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('IuranPending')">
        <i class="fa fa-circle nav-icon"></i>
        <p>Iuran Pending</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('RekapitulasiIuran')">
        <i class="fa fa-circle nav-icon"></i>
        <p>Rekapitulasi</p>
      </a>
    </li>
  </ul>
</li>
